.navbar {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
background-color: #fff;
color: #323c41;
padding: 1rem 2.5rem;
position: fixed;
top: 0;
width: 100%;
z-index: 2;
}

.nav-link-text{
font-size: 1rem;
line-height: 1.5rem;
}

.search-bar{
flex: 1 1;
order: 1;
display: flex;
position: relative;
margin-right: 2rem;
height: 3rem;
}

.nav-link{
order: 2;
color: #323c41;
margin-right: 2rem;
height: 3rem;
min-width: 3rem;
width: auto;
align-items: center;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.selector{
margin-right: 0;
display: none;
}

.search-field{
width: 100%;
padding-bottom: 0.8rem;
padding-left: 1rem;
padding-top: 0.8rem;
padding-right: 0.5rem;
background-color: #f2f2f2;
border: 0.1rem solid transparent;
outline: none;
}

.search-button{
background-color: #0078d7;
border-radius: 0;
padding: 0 1.2rem;
border: none;
}

.nav-icon{
height: 1.5rem;
width: 1.5rem;
flex-grow: 1;
padding: 0.2rem;
}

.search-icon{
height: 1rem;
width: 1rem;
filter: invert(1);
}

.navbar-logo {
margin-right: 2rem;
}

.navbar-logo img {
height: 3rem;
}

.navbar-text {
font-weight: bold;
}

.navbar-links {
list-style: none;
display: flex;
}

.navbar-links li {
margin: 0 10px;
font-size: 18px; 
}

.navbar-links a {
text-decoration: none;
color: #fff;
font-weight: bold;
transition: color 0.3s;
}

.navbar-links a:hover {
color: #888;
}

@media (max-width: 600px) {
.mobile-nav-links{
margin-top: 116px;
}
.navbar{
padding: 0.5rem 0.8rem;
}
.nav-link{
margin-right: 0;
}
.search-bar{
padding-top: 0.2rem;
flex: none;
order: 3;
width: 100%;
margin-right: 0;
}
.search-field{
border-radius: 10px 0 0 10px;
}
.search-button{
border-radius: 0 10px 10px 0;
}
}

@media (max-width: 800px) {

}

@media (max-width: 1000px) {
.nav-link {
display: none;  
}
.selector{
display: flex;
}
}

@media (min-width: 1000px) {
.mobile-menu{
display: none!important;
}
}