*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    padding: 1rem;
}

input{
    margin: 5px;
}

body{
    display: flex;
    justify-content: center;
    background-image: url(../images/metal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.page{
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    color: #fff;
    text-decoration: none;
    /* transition: all 100ms ease-in-out; */
}

/* product search */
.search-section {
    background-image: url(../images/tools1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    align-items: center; 
  }
  
  .search-content input[type="search"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-content button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
/* categories */
.categories_header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
h2{
    font-size: 3rem;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 30vw;
    gap: 10vw;
}
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    border-radius: 15px;
    background-color: grey;
}
.category_image{
    width: 10vw;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .navbar-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-text {
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 10px;
    font-size: 18px; 
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #888;
  }
/* products */

.product-container, .orders-container {
    background-color: #f2f2f2;
    padding: 20px;
    flex: 1;
}

.product-main-header {
    margin-bottom: 20px;
    font-size: 24px; 
    color: #333; 
    text-transform: uppercase; 
    text-align: center; 
}


table.product-table {
    border-collapse: collapse;
    width: 100%;
}

th.product-header, td.product-data {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

th.product-header {
    background-color: #333;
    color: #fff;
}

tr.product-row:nth-child(even) {
    background-color: #f2f2f2;
}

tr.product-row:hover {
    background-color: #f5f5f5;
}

/* signup */
.signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    flex: 1;
    min-width: 320px;
}
.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
table{
    width: 100%;
    /* border-collapse: collapse; */
}
.users{
    height: 150%;
    background-color: white;
}
.update{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
  }
  
  .login-form h2 {
    color: #333;
  }
  
  .form-group {
    margin: 10px 0;
    text-align: left;
  }
  
  .form-group label {
    color: #333;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #555;
  }

  .login-form .error-message {
    color: darkred;
    padding: 10px 20px;
  }

  .login-form .success-message {
    color: #4CAF50;
    padding: 10px 20px;
  }


  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }

/* Style for the cart icon */
.cart-icon {
    position: fixed;
    bottom: 20px; 
    right: calc(5% - 34px);
    background-color: #333; 
    color: #fff; 
    border-radius: 50%;
    padding: 20px; 
    z-index: 9999; 
    cursor: pointer; 
    text-align: center; 
    font-size: 24px; 
}

.cart-icon:hover {
    background-color: #888; 
}

.add-to-cart-button {
  background-color: #333; 
  color: #fff; 
  border: none;
  padding: 6px 5px; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #888; 
}

.option-button{
  margin: 20px;
  text-align: right;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
  gap: 20px;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment to the top */
  margin: 20px;
}

/* STYLE FOR SINGLE PRODUCT CARD */
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 350px; /* Set a fixed height for all product cards */
  overflow: hidden; /* Hide content overflow */
  width: 230px;
}

/* ... (other styles) */


.product-image {
  width: 100%;
  max-height: 150px;
  width: 200px;
}

.product-name {
  font-size: 1.2rem;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}


.product-price {
  font-size: 1rem;
  color: #007BFF;
}

.product-manufacturer {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.quantity-control {
  margin-top: 10px;
}

.quantity-control label {
  display: block;
}

input[type="number"] {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.add-to-cart-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}
