*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    padding: 1rem;
}

input{
    margin: 5px;
}

body{
    display: flex;
    justify-content: center;
    /* background-color: beige; */
    background-image: url(../images/metal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.page{
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    color: black;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}
a:hover{
    color: dimgray;
}
/* navbar */

/* product search */
.product-search{
    background-image: url(../images/tools1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
}
.form1{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.product-search input[type="search"]{
    padding: 10px 10px;
    font-size: 1rem;
    border-radius: 5px;
    width: 50%;
}
.btn{
    width: 100px;
    cursor: pointer;
    background-color: gray;
    border-radius: 5px;
    font-size: 1rem;
}
.btn:hover{
    background-color: dimgray;
    transition: all 100ms ease-in-out;
}
/* categories */
.categories_header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
h2{
    font-size: 3rem;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 30vw;
    gap: 10vw;
}
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    border-radius: 15px;
    background-color: grey;
}
.category:hover{
    background-color: dimgray;
    transition: all 100ms ease-in-out;
}
.category_image{
    width: 10vw;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-size: 24px; /* Increase the font size */
  }
  
  .navbar-logo img {
    width: 50px; /* Increase the image size */
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-text {
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex; /* Make the list items appear in a horizontal line */
  }
  
  .navbar-links li {
    margin: 0 10px;
    font-size: 18px; /* Increase the font size of the list items */
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #888;
  }
/* products */
.products_header{
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 15px;
}
.products{
    background-color: white;
    height: 500px;
}

/* signup */
.signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    flex: 1;
    min-width: 320px;
}
.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
table{
    width: 100%;
    /* border-collapse: collapse; */
}
tr:hover {background-color: coral;}
.users{
    height: 150%;
    background-color: white;
}
.update{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
  }
  
  .login-form h2 {
    color: #333;
  }
  
  .form-group {
    margin: 10px 0;
    text-align: left;
  }
  
  .form-group label {
    color: #333;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #555;
  }

  .login-form .error-message {
    color: darkred; /* Dark red color for error messages */
    padding: 10px 20px;
  }

  .login-form .success-message {
    color: #4CAF50;
    padding: 10px 20px;
  }


  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }